.white-tile, .black-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
}

.white-tile {
    background-color: #ebecd0;
}

.black-tile {
    background-color: #779556;
}
