.white-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebecd0;
    height: 10vmin;
}

.black-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #779556;
    height: 10vmin;
}